.list-group.connections-list {
    display: block;
    max-height: 70vh;
    overflow-y: auto;
    cursor: pointer; 
}

.quickCmd {
    flex: 2 !important;
}

.hand {
    cursor: pointer; 
}

.quickCmdContainer {
    display: flex !important
}
